.container { 
    display: flex ;
 }
 .split{
    height:33.33%;
    padding: 10px;
    width:33.33%;


 }

 p{
     margin: 10px;
 }
 .colomn{
    display:flex
 }
 .colors{
     color: yellow;
     background-color: blue;
     margin: 10px;
 } 
